<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
    </div>
</footer>

<footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p><a href="https://github.com/mandrasch/11ty-plain-bootstrap5">Fork me on GitHub</a> · <a href="{{'/pages/imprint'|url}}">Imprint</a> · <a href="{{'/pages/privacy'|url}}">Privacy</a></p>
</footer>

<script type="text/javascript" src="{{ '/assets/scripts/bootstrap/bootstrap.bundle.min.js' | url }}"></script>
<script type="text/javascript" src="{{ '/assets/scripts/main.js' | url }}"></script>