{# Macro function to render child items (submenus) #}
{% macro renderNavListDropdown(childEntry) -%}
<li>
    <a class="dropdown-item" href=" {{ childEntry.url | url }}">
    {{childEntry.title}}
    </a>
</li>
{%- endmacro %}

{# See: https://www.11ty.dev/docs/plugins/navigation/ #}

{# Nav Links  #}
<ul class="navbar-nav ms-auto">
    {%- for item in collections.all | eleventyNavigation -%}
    {%- if item.url and item.hideInMainNav != true -%}
    {%- set isCurrent = (item.url == page.url) -%}
    {%- set isParent = item.url != '/' and item.url in page.url -%}
    {%- set hasChildren = item.children.length -%}
    {%- set randomMenuId = ('dropdown' | generateRandomIdString) -%}
    <li class="nav-item{% if hasChildren %} dropdown{% endif %}">
            {%- if hasChildren == false -%}
            {# Standard menu nav link #}
            <a class="nav-link{% if isCurrent or isParent %} active{% endif %}"
                href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}"
                {% if isCurrent %}aria-current="page" {% endif %}>
                {{ item.title }}
            </a>
            {%- else -%}
            {# Menu nav link for bootstrap dropdowns, change role to button #}
            <a class="nav-link{% if isCurrent or isParent %} active{% endif %} {% if hasChildren %}dropdown-toggle{% endif %}"
                href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}"
                {% if isCurrent %}aria-current="page" {% endif %} {% if hasChildren %} role="button" data-bs-toggle="dropdown" aria-expanded="false"{% endif %}
                id="{{randomMenuId}}">
                {{ item.title }} {% if hasChildren %}<span class="visually-hidden">Toggle Dropdown {{item.title}}</span>{% endif %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="{{randomMenuId}}">
                <li>
                    <a class="dropdown-item" href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}"><!-- {{ item.title }}-->Overview</a>
                </li>
                {%- for child in item.children %}{{ renderNavListDropdown(child) }}{% endfor -%}
            </ul>
            {%- endif -%}
    </li>
    {%- endif -%}
    {%- endfor -%}
</ul>

{# This file is ignored by prettier by now /bc too much damage ;-), see .prettierignore #}
