---
meta:
  lang: en
  title: Welcome
layout: base
eleventyNavigation:
  key: Home
---
<h1>Get started with Bootstrap5 and 11ty</h1>
<p class="fs-5 col-md-8">11ty (eleventy) is a simple and awesome static site generator. It's a great choice for sustainable web design projects. This repository contains a fresh bootstrap5 with minimal adjustments and web accessibility in mind. It is still work in progress. Have fun trying it out!</p>

<div class="mb-5">
  <a href="https://github.com/mandrasch/11ty-plain-bootstrap5" class="btn btn-primary btn-lg px-4">Fork me on github.com</a>
</div>

<hr class="col-3 col-md-2 mb-5">

<div class="row g-5">
  <div class="col-md-6">
    <h2>Starter projects</h2>
    <p>Ready to beyond the starter template? Check out these examples.</p>
    <ul class="icon-list">
      <li><a href="https://getbootstrap.com/docs/5.0/examples/" rel="noopener" target="_blank">Bootstrap examples</a></li>
      <li><a href="https://www.11ty.dev/docs/starter/" rel="noopener" target="_blank">Eleventy starters</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h2>Guides</h2>
    <p>Here are some more tutorials for you.</p>
    <ul class="icon-list">
      <li><a href="https://www.youtube.com/watch?v=z-o1W9ijUhI&list=PLOSLUtJ_J3rrJ1R1qEf8CCEpV3GgbJGNr" rel="noopener" > Eleventy (11ty) Static HTML Theme Conversion (YouTube)</a></li>
      <li><a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" rel="noopener" >Bootstrap quick start guide</a></li>
      <li><a href="https://www.11ty.dev/docs/getting-started/" rel="noopener" >Eleventy quick start guide</a></li>
    </ul>
  </div>
</div>