/* via https://getbootstrap.com/docs/5.0/examples/jumbotron/ */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* for bootstrap-icons (svg) */
.bi {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em;
}

.img-fit-cover-container {
  &.rounded-3 {
    picture img {
      border-radius: 0.3rem !important;
    }
  }
  picture {
    width: 100%;
    height: 100%;
    display: flex;
  }
  picture img {
    object-fit: cover;
    height: auto;
    width: 100%;
  }
}
